{# app/Resources/views/head.html.twig #}
{# app/Resources/views/footer.html.twig #}

{% include 'head.html.twig' %}

<div class="allVideo">
    {% for video in videos %}
        <div class="contentVideo">
                <div class="videoBlock">
                    <a class="videoLink" href="video/{{ video.id }}">
                        <img src={{ video.image }} alt="">
                    </a>
                    <a class="videoLink" href="video/{{ video.id }}">
                        <h3>{{ video.name }}</h3>
                    </a>
                </div>
        </div>
    {% endfor %}
</div>

{% include 'footer.html.twig' %}
