{# app/Resources/views/head.html.twig #}
{# app/Resources/views/footer.html.twig #}

{% include 'head.html.twig' %}
<form method="post">
    <input type="text" name="title" placeholder="title"> <br>
    <input type="text" name="link" placeholder="lien de la video"> <br>
    <textarea name="description" placeholder="description"></textarea> <br>
    <input type="text" name="image" placeholder="lien de l'image"> <br>
    <input type="submit" value="Envoyer la vidéo">
</form>
{% include 'footer.html.twig' %}